{% extends "base.html.twig" %}

{% block title_prefix %}Пассажир{% endblock %}

{% block main %}
    {{ form_start(passenger_form, {"attr": {"class": "row"}}) }}
    <h1 class="h3 mb-3 font-weight-normal">Пассажир</h1>
    <div class="row justify-content-between">
        <div class="row col-7">
            <div class="col">
                {{ form_label(passenger_form.last_name) }}
                {{ form_widget(passenger_form.last_name) }}
            </div>
            <div class="col">
                {{ form_label(passenger_form.first_name) }}
                {{ form_widget(passenger_form.first_name) }}
            </div>
            <div class="col">
                {{ form_label(passenger_form.middle_name) }}
                {{ form_widget(passenger_form.middle_name) }}
            </div>
        </div>
        <div class="row col-4 ">
            <div class="col-4">
                <label for="passport" class="form-label"></label>
                <input id="passport" readonly value="Паспорт" type="text"
                       class="form-control-plaintext"/>
            </div>
            <div class="col-3">
                {{ form_label(passenger_form.passport_series) }}
                {{ form_widget(passenger_form.passport_series) }}
            </div>
            <div class="col-5">
                {{ form_label(passenger_form.passport_number) }}
                {{ form_widget(passenger_form.passport_number) }}
            </div>
        </div>
    </div>
    <div class="row justify-content-center gy-3">
        {{ form_widget(passenger_form.submit) }}
    </div>
    {{ form_end(passenger_form) }}
{% endblock %}